Task_1.json
{
  "name": "Task 1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receive-data",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-540, -60],
      "id": "9495e396-a787-4887-9265-b2d1c983a18d",
      "name": "Webhook",
      "webhookId": "cdf7b96f-16e3-4a84-a95c-8efe6b474639"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-onlVQ8nl2M5hSWDuJze85M6lpVlaeRMF_4LizNpTh4",
          "mode": "list",
          "cachedResultName": "Task_1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-onlVQ8nl2M5hSWDuJze85M6lpVlaeRMF_4LizNpTh4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Аркуш1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-onlVQ8nl2M5hSWDuJze85M6lpVlaeRMF_4LizNpTh4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Webhook').item.json.body.name }}",
            "email": "={{ $('Webhook').item.json.body.email }}"
          },
          "matchingColumns": ["body"],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-340, -60],
      "id": "3ab4ad02-9654-46ab-8861-465cfcda9068",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cCwqEAwwp6EsMAQu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Thank you for your submission!",
        "message": "=Hello {{$json[\"name\"]}}, thank you for your request!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-160, -60],
      "id": "a55c3784-5ce6-4fa0-b420-8fd900868ed0",
      "name": "Gmail",
      "webhookId": "03b39b13-66a3-42bf-becd-78a6a5d07c17",
      "credentials": {
        "gmailOAuth2": {
          "id": "juQOrzRo4NoUNxh5",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [[]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d862a9e-a3f0-4773-a316-f82d7f72f149",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "530a9d95d8e289fa2ee617f09b48a3c7911c342fb39b530ada0e054ac7db4f31"
  },
  "id": "txDpXtU4HB7ZxVPc",
  "tags": []
}
